
  .header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
  }
  
  .imageItem {
    cursor: pointer;
    transition: transform 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 150px;
  }
  
  .imageItem:hover {
    transform: scale(1.05);
  }
  .fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Background.png');
    background-size: cover;
  }
  
  .container {
    padding: 20px;
  }
  
  .header {
    color: white;
  }
  